body { background-color: #8EC5FC; background-image: linear-gradient(62deg, #8EC5FC 0%, #E0C3FC 100%); }

h1 { font-family: 'Barlow', sans-serif; letter-spacing: 70px; margin-top: 150px; text-align: center; font-size: 6em; font-weight: normal;}

a {
    font-family: 'Barlow', sans-serif; letter-spacing: 5px; margin-top: 150px; text-align: center; font-size: 2em;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    color: white;
}

.center {
    text-align: center;
    padding: 50px; 
    
}