i {
  font-size: 30px;
  transition: all 0.2s;
}

i:hover {
  cursor: pointer;
  color: #f4da01;
}

a {
  text-decoration: none;
  color: black;
}

.white-link {
  color: white;
}

.black-link {
  color: black;
}

.yellow-link {
  color: #f4da01;
  text-decoration: underline;
}

h1 {
  font-size: 3rem;
  font-family: 'Barlow', sans-serif;
  font-weight: normal;
  letter-spacing: 2px;
}

h3 {
  font-size: 2rem;
  font-family: 'Barlow', sans-serif;
  font-weight: normal;
  
  letter-spacing: 5px;
  text-transform: uppercase;
}
.project-section {
  margin-top: 50px;
  width: 90%;
  display: inline-block;
}

h2 {
  font-size: 2.5rem;
  font-family: 'Barlow', sans-serif;
  font-weight: normal;
  margin-top: 5px;
  letter-spacing: 5px;
  text-transform: uppercase;
  color: black;
}

.footer {
  background-color: rgb(27, 26, 26);
  color: white;
  float: left;
  width: 100%;
  text-align: center;
  font-family: 'Barlow', sans-serif;
  height: 180px;
  margin-top: 100px;
  padding-top: 10px;
  padding-bottom: 30px;
}

.wrapper {
  margin: auto;
  width: 70%;
  padding: 10px;
  font-family: 'Barlow', sans-serif;
}

.ui-wrap {
  margin: 0px auto;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: white;
  overflow: auto;
}

.ui {
  width: 70%;
  margin-top: 20px;
  margin: auto;
  letter-spacing: 2px;
  font-family: 'Barlow', sans-serif;
}

.left {
  width: 60%;
  /*      border: solid 3px yellow; */
  float: left;
}

.right {
  float: right;
  width: 7%;
  /*  border: solid 3px blue; */
}

/* dropdown */

h1 {
  letter-spacing: 3px;
}


.intro-logo {
  display: inline-block;
  width: 49%;
  height: auto;
}

.intro-logo-small {
  display: inline-block;
  width: 20%;
  height: auto;
}

.bread-text-full {
  
  letter-spacing: 1px;
  font-size: 1.5em;
  width: 100%;
  text-align: justify;
}

.bread-text {
  
  display: inline-block;
  letter-spacing: 1px;
  font-size: 1.5em;
  width: 49%;
  text-align: justify;
}

.bread-text-main {
  
  letter-spacing: 1px;
  font-size: 1.5em;
  width: 90%;
}

.bread-text-about {
  float: right;
  letter-spacing: 1px;
  font-size: 1.2em;
  width: 60%;
  text-align: justify;
  margin-right: 50px;
}

.bread-text-small {
  float: left;
  letter-spacing: 1px;
  font-size: 1.2em;
  width: 30%;
  text-align: center;
  margin-right: 50px;
}

.project-hero {
  float: left;
  width: 45%;
  margin-top: 30px;
}

.project-hero-small {
  float: right;
  width: 45%;
  margin-top: 30px;
}

.line {
  height: 1px;
  border-width: 0;
  color: rgb(0, 0, 0);
  background-color: rgb(0, 0, 0);
}

.img-color {
  background-color: white;
  box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.2), 0 10px 30px 0 rgba(0, 0, 0, 0.19);
  border-radius: 4px;
  object-fit: cover;
  width: 100%;
  height: auto;
  transition: all 0.3s;
}

.img-color:hover {
  opacity: 0.8;
  cursor: pointer;
}

.project-hero-teal {
  width: 100%;
  height: 30%;
  background-color: rgb(149, 149, 194);
}

.project-hero-green {
  width: 100%;
  height: 30%;
  background-color: rgb(149, 149, 194);
}

.profile-picture {
  width: 20%;
  height: 300px;
  width: 300px;
  border-radius: 50%;
  margin-left: 40px;
  margin-top: 30px;
}

.profile {
  border-radius: 50%;
  height: 300px;
  width: 300px;
  margin-top: 70px;
}

.contact-info {
  margin-left: 10px;
}

.yellow {
  color: #f4da01;
}

.text-overlay {
  position: absolute;
  margin-top: 340px;
  margin-left: 500px;
  border: none;
  border-radius: 50px;
}

/* dropdown menu */

.dropbtn {
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.dropdown {
  float: right;
  visibility: hidden;
  display: inline-block;
  background-color: white;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: white;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #f1f1f1
}

.dropdown:hover .dropdown-content {
  display: block;
}

/* On screens that are 992px or less, set the background color to blue */

@media screen and (max-width: 992px) {
  .project-hero {
    margin-top: 30px;
  }
  .project-hero-small {
    margin-top: 30px;
  }
  .wrapper {
    width: 90%;
  }
  .bread-text {
    
    letter-spacing: 1px;
    font-size: 1.2em;
    width: 90%;
  }
  .project-hero {
    float: none;
    width: 100%;
    margin-top: 30px;
  }
  .project-hero-small {
    float: none;
    width: 100%;
    margin-top: 30px;
  }
  .right {
    visibility: hidden;
  }
  .dropdown {
    visibility: visible;
  }

  h1 {
   font-size: 2em;
  }

  .intro-logo {
    margin-top: 20px;
    width: 90%;
  }

  .intro-logo-small {
    display: inline-block;
    width: 90%;
    height: auto;
  }

}

@media screen and (max-width: 1300px) {
  .bread-text-about {
    float: none;
    letter-spacing: 1px;
    font-size: 1.2em;
    width: 100%;
    text-align: left;
    margin-right: 50px;
  }
  .bread-text-small {
    float: none;
    letter-spacing: 1px;
    font-size: 1.2em;
    width: 100%;
    text-align: center;
  }
  .profile {
    border-radius: 50%;
    height: 300px;
    width: 300px;
    margin-top: 70px;
  }
}


#redRound {
  background-color: #44a1b8;
  border: none;
  margin-left: 10px;
  height: 25px;
  width: 25px;
  border-radius: 50%;
  outline: none;
  transition: 0.2s;
}

#blueRound {
  background-color: #697775;
  border: none;
  height: 25px;
  width: 25px;
  margin-left: 10px;
  border-radius: 50%;
  outline: none;
  transition: 0.2s;
}

#yellowRound {
  background-color: #f4da01;
  border: none;
  height: 25px;
  width: 25px;
  margin-left: 10px;
  border-radius: 50%;
  outline: none;
  transition: 0.2s;
}

#yellowRound:hover, #blueRound:hover, #redRound {
  cursor: pointer;
  opacity: 0.8;
} 

