i {
  font-size: 30px;
}

a {
    text-decoration: none;
    color: black;
}

.white-link {
  color: white;
}

h1 {
  font-size: 3rem;
  font-family: 'Barlow', sans-serif;
  font-weight: normal;
  letter-spacing: 2px;
  
}

h2 {
  font-size: 2.5rem;
  font-family: 'Barlow', sans-serif;
  font-weight: normal;
  margin-top: 5px;
  letter-spacing: 5px;
}

.footer {
  background-color: rgb(27, 26, 26);
  color: white;
  float: left;
  width: 100%;
  text-align: center;
  font-family: 'Barlow', sans-serif;
  height: 200px;
  margin-top: 50px;
  padding-top: 60px;
}


.wrapper {
    margin: auto;
    width: 70%;
    
    
    padding: 10px;
    font-family: 'Barlow', sans-serif;
  }



  .ui-wrap {
      margin: 0px auto;
      padding-top: 40px;
      padding-bottom: 40px;
      background-color: white;
      overflow: auto;
  }
  .ui {
      
      
      width: 70%;
      margin-top:20px;
      margin: auto;
      letter-spacing: 2px;
      font-family: 'Barlow', sans-serif;
  }



  .left {
      width: 60%;
 /*      border: solid 3px yellow; */
      float:left;
  }
  .right {
      float:right;
      width: 7%;
    /*  border: solid 3px blue; */
  }

  /* dropdown */

  h1 {
    letter-spacing: 3px;
  }
  .bread-text {
    float:left;
    letter-spacing: 1px;
    font-size: 1.2em;
    width: 90%;
    
  }

  .bread-text-about {
    float:right;
    letter-spacing: 1px;
    font-size: 1.2em;
    width: 60%;
    text-align: justify;
    margin-right: 50px;
  }

  .bread-text-small {
    float:left;
  
    letter-spacing: 1px;
    font-size: 1.2em;
    width: 20%;
    text-align: center;
    margin-right: 50px;
    
  }
  
  .project-hero{
    float: left;
    width: 45%;
    margin-top: 30px;
     
    
     
  }

  .project-hero-small{
    float: right;
    width: 45%;
    margin-top: 30px; 
  }



.line {
  height:1px;border-width:0;color:rgb(0, 0, 0);background-color:rgb(0, 0, 0);
  
}

  .img-color {
    background-color: white;
    box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.2), 0 10px 30px 0 rgba(0, 0, 0, 0.19);
    border-radius: 4px;
 
    
    transition: all 0.3s;
  }

  .img-color:hover {
  
    
    opacity: 0.8;
    cursor: pointer;
    display: block;
  }

  .project-hero-teal {
    width: 100%;  
    height: 30%;
     background-color: rgb(149, 149, 194);
  }

  .project-hero-green {
    width: 100%;  
    height: 30%;
     background-color: rgb(149, 149, 194);
  }



  img {
    width:80%;
    height:400px;
    object-fit:cover;
  }

  .profile-picture {
      width:20%;
      height:300px;
      width: 300px;
      
      border-radius: 50%;
      margin-left: 40px;
      margin-top: 30px;
  }

  .profile {
    border-radius: 50%;
    height:300px;
    width: 300px;
    margin-top: 70px;

}


  .contact-info {
    margin-left: 10px;
  }

  .yellow{
    color: #ff7f00;
  }

  .orange{
    color: #FAFd0f;
  }

  .blue{
    color: #1ac1dd; 
}

.text-overlay {
  position: absolute;
  margin-top: 340px;
  margin-left: 500px;
  border: none;
  border-radius: 50px;
}

/* dropdown menu */

.dropbtn {
  
  
  
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.dropdown {
  float:right;
  visibility: hidden;
  display: inline-block;
  background-color: white;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: white;
  
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  
}
/* On screens that are 992px or less, set the background color to blue */
@media screen and (max-width: 992px) {
  
  .wrapper {
  width: 90%;
  }

    .bread-text {
      float:left;
      letter-spacing: 1px;
      font-size: 1.2em;
      width: 90%;
      
    }
    .project-hero{
      float: none;
      width: 100%;
      margin-top: 30px;
   
    }
  
    .project-hero-small{
      float: none;
      width: 100%;
      margin-top: 30px; 
    }
    .right {
      visibility: hidden;
    }
    .dropdown {
      visibility: visible;
    }
  }

  @media screen and (max-width: 1300px) {
.bread-text-about {
      float: none;
      letter-spacing: 1px;
      font-size: 1.2em;
      width: 100%;
      text-align: left;
      margin-right: 50px;
    }
  
    .bread-text-small {
      float: none;
    
      letter-spacing: 1px;
      font-size: 1.2em;
      width: 100%;
      text-align: center;
      
      
    }

    .profile {
      border-radius: 50%;
      height:300px;
      width: 300px;
      margin-top: 70px;
  
  }
  }

/* On screens that are 600px or less, set the background color to olive */
@media screen and (max-width: 600px) {
  body {
    
  }
}


